apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: iac-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: nginx
        ports:
        - containerPort: 80

