apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: iac-demo
spec:
  selector:
    app: hello
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP

